[submodule "third_party/godot"]
	path = third_party/godot
	url = https://github.com/godotengine/godot.git
[submodule "third_party/ebiten"]
	path = third_party/ebiten
	url = https://github.com/hajimehoshi/ebiten.git
[submodule "third_party/godot-cpp"]
	path = third_party/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
